-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "public"."User" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Podcast" (
    "id" SERIAL NOT NULL,
    "uuid" TEXT NOT NULL,
    "thumbnail" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "author" TEXT NOT NULL DEFAULT 'The Property Portfolio Podcast',
    "cast" TEXT[],
    "isDeleted" BOOLEAN NOT NULL DEFAULT false,
    "language" TEXT[],

    CONSTRAINT "Podcast_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Episode" (
    "id" SERIAL NOT NULL,
    "uuid" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "duration" INTEGER NOT NULL,
    "durationInSec" INTEGER NOT NULL,
    "link" TEXT,
    "thumbnail" TEXT NOT NULL,
    "mimefield" TEXT NOT NULL,
    "size" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "podcastId" INTEGER NOT NULL,
    "isDeleted" BOOLEAN NOT NULL DEFAULT false,
    "detail" TEXT,
    "episodeNumber" INTEGER,
    "season" INTEGER,
    "audio" TEXT,

    CONSTRAINT "Episode_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Guide" (
    "id" SERIAL NOT NULL,
    "uuid" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "author" TEXT NOT NULL DEFAULT 'The Property Portfolio Podcast',
    "link" TEXT NOT NULL,
    "language" TEXT[],
    "thumbnail" TEXT NOT NULL,
    "isDeleted" BOOLEAN NOT NULL DEFAULT false,
    "downloads" INTEGER NOT NULL DEFAULT 0,
    "pages" INTEGER,

    CONSTRAINT "Guide_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."subscriber" (
    "id" SERIAL NOT NULL,
    "email" TEXT NOT NULL,

    CONSTRAINT "subscriber_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."contact" (
    "id" SERIAL NOT NULL,
    "email" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "subject" TEXT,

    CONSTRAINT "contact_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."DistributionStatus" (
    "id" SERIAL NOT NULL,
    "episodeId" INTEGER NOT NULL,
    "spotifyStatus" TEXT NOT NULL DEFAULT 'pending',
    "appleStatus" TEXT NOT NULL DEFAULT 'pending',
    "spotifyEpisodeId" TEXT,
    "spotifyEpisodeLink" TEXT,
    "appleEpisodeId" TEXT,
    "appleEpisodeLink" TEXT,
    "errorLogs" TEXT,
    "retryCount" INTEGER NOT NULL DEFAULT 0,
    "lastAttemptAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "DistributionStatus_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "public"."User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Podcast_uuid_key" ON "public"."Podcast"("uuid");

-- CreateIndex
CREATE UNIQUE INDEX "Podcast_name_key" ON "public"."Podcast"("name");

-- CreateIndex
CREATE UNIQUE INDEX "Episode_uuid_key" ON "public"."Episode"("uuid");

-- CreateIndex
CREATE UNIQUE INDEX "Guide_uuid_key" ON "public"."Guide"("uuid");

-- CreateIndex
CREATE UNIQUE INDEX "subscriber_email_key" ON "public"."subscriber"("email");

-- CreateIndex
CREATE UNIQUE INDEX "contact_email_key" ON "public"."contact"("email");

-- AddForeignKey
ALTER TABLE "public"."Episode" ADD CONSTRAINT "Episode_podcastId_fkey" FOREIGN KEY ("podcastId") REFERENCES "public"."Podcast"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DistributionStatus" ADD CONSTRAINT "DistributionStatus_episodeId_fkey" FOREIGN KEY ("episodeId") REFERENCES "public"."Episode"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

